{% extends 'settings/base.html' %}
{% load django_vite %}
{% block extra_head %}{% vite_asset 'src/entries/user_form.js' %}{% endblock %}
{% block page_title %}{{ page_title|default:"User" }}{% endblock %}
{% block page_description %}{% if edit_mode %}Update account details and roles{% else %}Create a new user account{% endif %}{% endblock %}
{% block settings_content %}
<script id="user_form-init-data" type="application/json">{{ init_data_json|safe }}</script>
<div id="svelte-user_form-root"></div>
{% endblock %}
